absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
ale-py==0.11.1
altair==5.1.1
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.6.2
boto3==1.35.44
botocore==1.35.44
Bottleneck==1.5.0
cachetools==5.5.2
cbor2==5.6.5
certifi==2025.1.31
cffi==1.15.1
charset-normalizer==3.4.1
clang==16.0.1.1
click==8.1.8
cloudpickle==3.1.0
cmake==3.31.0.1
colorama==0.4.6
comm==0.1.4
contourpy==1.3.1
cssutils==2.9.0
cycler==0.12.1
Cython==3.0.5
dataclasses-json==0.6.7
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
Django==4.2.5
docker-pycreds==0.4.0
docstring_parser==0.16
et-xmlfile==1.1.0
executing==1.2.0
faiss-cpu==1.11.0.post1
fastapi==0.115.8
fastjsonschema==2.20.0
ffmpy==0.5.0
filelock==3.17.0
Flask==3.0.0
Flask-Cors==4.0.0
flatbuffers==25.1.24
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2025.2.0
gast==0.6.0
gcloud==0.18.3
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.100.0
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.23.0
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gradio==5.15.0
gradio_client==1.7.0
greenlet==3.2.3
grpc-google-iam-v1==0.14.2
grpcio==1.73.1
grpcio-status==1.71.2
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.3
idna==3.10
imageio==2.37.0
importlib-resources==6.1.0
ipykernel==6.25.1
ipython==8.14.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.5.0
jaxlib==0.5.0
jedi==0.19.0
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.8.0
kiwisolver==1.4.8
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.67
langchain-google-vertexai==2.0.27
langchain-text-splitters==0.3.8
langsmith==0.4.4
lazy_loader==0.4
libclang==18.1.1
ll-xist==5.74
llvmlite==0.44.0
lxml==4.9.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.21
mistune==3.0.2
ml_dtypes==0.5.3
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mypy_extensions==1.1.0
mysql==0.0.3
mysqlclient==2.2.1
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.7
networkx==3.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.61.0
numexpr==2.11.0
numpy==1.26.4
oauth2client==4.1.3
openai==0.28.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.14.0
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.3
pathtools==0.1.2
patsy==1.0.1
persona==0.0.1
pickleshare==0.7.5
pillow==11.1.0
platformdirs==3.10.0
prometheus_client==0.21.0
prompt-toolkit==3.0.39
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.6
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.13
pycoco==0.7.2
pycparser==2.21
pydantic==2.10.6
pydantic-settings==2.10.1
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==2.0.7
python-multipart==0.0.20
pytils==0.4.1
pytz==2025.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==25.1.1
referencing==0.30.2
regex==2023.8.8
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.10.3
rsa==4.9.1
ruff==0.9.5
s3transfer==0.10.3
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.15.1
seaborn==0.13.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.0.0
sentencepiece==0.2.0
sentry-sdk==1.34.0
setproctitle==1.3.3
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.12.1
soupsieve==2.6
SQLAlchemy==2.0.41
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.45.3
statsmodels==0.14.4
streamlit==1.44.1
sympy==1.12
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.18.1
tf_keras==2.19.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2025.1.10
tiktoken==0.3.3
tinycss2==1.3.0
tokenizers==0.21.4
toml==0.10.2
tomlkit==0.13.2
tools==0.1.9
toolz==0.12.0
torch==2.2.0.dev20231105+cpu
torchaudio==2.2.0.dev20231105+cpu
torchvision==0.17.0.dev20231105+cpu
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.54.1
typer==0.15.1
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.0.207
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.34.0
validators==0.35.0
wandb==0.15.12
watchdog==6.0.0
wcwidth==0.2.6
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
yarl==1.9.2
zstandard==0.23.0
